<!-- Include the navigation bar from "navbar.ejs" -->
<%- include("components/navbar") %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Include CSS stylesheets for styling -->
    <link rel="stylesheet" href="style/navbar.css">
    <link rel="stylesheet" href="style/allDetails.css">

    <title>All Students Details</title>
</head>
<body>
    <section class="contact-header">

        <h1>All Information of Students </h1>
        <p>Computer Engineering</p>		
    </section>
    <p class="main-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, ab harum! Quod repudiandae nemo mollitia aperiam sit quae, quos quibusdam fugiat iusto dignissimos perferendis nulla, numquam vel ipsa. Iusto, non!
    Animi molestiae nobis at amet magnam temporibus natus ad et deleniti ullam fugiat iusto commodi esse quae, blanditiis, fugit explicabo assumenda quasi beatae! Saepe expedita ab blanditiis maiores magni et!
    Voluptatum laboriosam rem in ullam voluptate qui sapiente laborum sint, ab ipsam provident maiores laudantium accusamus doloremque recusandae enim ipsum veritatis voluptatem voluptas quod earum. Sint voluptatibus aliquid ex vitae?
    Porro iure autem quasi libero doloribus, obcaecati, deleniti illum minima doloremque quia officia quod nihil iusto voluptate. Autem error illum iure dignissimos, nihil asperiores earum eos! Illum veniam a non.
    Eligendi eveniet saepe et facere maiores commodi, quae ratione, numquam molestias aspernatur, cumque nemo consectetur? Eius omnis sunt inventore consectetur quidem nihil voluptatibus, voluptate aliquid laudantium. Consectetur nesciunt ducimus iusto?
    Culpa, mollitia. Eos provident reiciendis qui possimus beatae? Neque rerum reprehenderit repellat excepturi incidunt. Maiores tenetur debitis eaque eveniet ducimus inventore eligendi. Doloremque, quo? Eaque amet atque deleniti quo cum.
    Quibusdam veritatis similique iusto! Eaque est nesciunt eveniet placeat maiores facilis, fugiat hic non ipsum veniam ad temporibus, aperiam adipisci, blanditiis unde modi magni. Eligendi ducimus rem amet assumenda. Sit!
    Voluptatem error reprehenderit exercitationem eius quis! Vel est recusandae necessitatibus, similique iure facere, culpa atque asperiores quibusdam illo incidunt repudiandae eos veritatis temporibus animi nam facilis. Sed quibusdam dolorum dolor?
    Ea quo nesciunt adipisci, praesentium, cumque sequi veniam quaerat a enim, debitis voluptatem laboriosam tempora ducimus! Quia animi laboriosam in assumenda? Architecto reprehenderit repellendus obcaecati quisquam, sunt et aperiam exercitationem.
    Rerum expedita iste cum ut quisquam quo at a impedit! Totam sit dolores error, non cupiditate aliquid placeat distinctio ut facilis quia, veritatis animi repellendus voluptas saepe blanditiis sint excepturi!
    </p>
    <div class="container">
        <!-- Loop through a list of student details -->
        <% students_details.forEach((allStudentsDetails)=>{ %>
            <div class="student-card">
                <dl>
                    <pre>Fullname                                :</pre>
                    <!-- Output the student's full name -->
                    <dd><%- allStudentsDetails.fullname %></dd>

                    <pre>Address                                 :</pre>
                    <!-- Output the student's address -->
                    <dd><%- allStudentsDetails.address %></dd>

                    <pre>Grade                                     :</pre>
                    <!-- Output the student's grade -->
                    <dd><%- allStudentsDetails.grade %></dd>

                    <pre>Roll number                          :</pre>
                    <!-- Output the student's rollno -->
                    <dd><%- allStudentsDetails.rollno %></dd>

                    <pre>Age                                        :</pre>
                    <!-- Output the student's age -->
                    <dd><%- allStudentsDetails.age %></dd>

                    <pre>Contact                                 :</pre>
                    <!-- Output the student's contactno -->
                    <dd><%- allStudentsDetails.contactno %></dd>

                    <img src= "<%- allStudentsDetails.image %>" alt="">
                </dl>
                <!-- Create a link to view more details about the student -->
                <a class="btn" href="/single/<%- allStudentsDetails.id %>">See More</a>
            </div>
        <% }) %>
    </div>
<%- include("components/footer") %>


</body>
</html>
